/*------------------------------------------------ GENERAL ------------------------------------------------*/
body {
    background-color: #000000;
    color: #0FB600;
    font-family: Fira Code, monospace;
    letter-spacing: 1px;
    margin: 0;
}
.yellow {
    color: #DCEE07;
}
.red {
    color: #B60B00;
}
.white {
    color: #FFFFFF;
}
h1 {
    letter-spacing: 2px;
}
/*------------------------------------------------ MOBILE ------------------------------------------------*/
@media screen and (max-width: 525px) {
    /*------------------------------------------------//
    //------------------ DARK THEME ------------------//
    //------------------ LANDING PAGE ----------------//
    //------------------------------------------------*/
    .desktopOnly{
        display: none;
    }
    .landingPage {
        width: 90vw;
    }
    .guideLanding, .welcomeTextDiv, .h2Slide, .formSign {
        position: relative;
        border: 1px dashed #0FB600;
        border-radius: 5px;
        text-align: center;
        padding: 1%;
      margin: 5%;
      margin-left: 22vw;
    }
    ul {
        list-style: none;
        padding-left: 1%;
    }
    .network {
        width: 90vw;
        margin-left: 12vw;
        padding-left: 8vw;
    }
    #copyright {
        margin: 0 auto auto 43vw;
    }
    /*------------------------------------------------//
    //-----------------  ASIDE PAGE  -----------------//
    //------------------------------------------------*/
    .navslideContent {
        height: 100vh;
        width: 90vw;
    }
    .formContainer {
        margin-right: 15vw;
        padding-top: 25%;
        padding-bottom: 25%;
    }
    .separator {
        display: inline-block;
        font-size: 2em;
      margin: 2% 5% 2% 33vw;
    }
    #submitSignUp, #submitSignIn {
        border: 1px solid #0FB600;
        border-radius: 5px;
        background-color: #000000;
        color: #0FB600;
        font-weight: 600;
        padding: 2% 5% 2% 5%;
        margin: 2% 5% 2% 21vw;
    }
    #submitSignUp:active, #submitSignIn:active {
        background-color: #0FB600;
        color: #000000;
    }
    #emailSignUp, #passwordSignUp, #emailSignIn, #passwordSignIn, #passwordCheck {
        color: #ffffff;
        border: 1px dashed #0FB600;
        border-radius: 5px;
        background-color: #7c7c7c;
        margin: 1vh;
        width: 90%;
    }
    .avatarSignContainer {
        border: 1px solid #0FB600;
        height: 60px;
        width: 60px;
        border-radius: 70px;
        margin: 2% 40% 2% 35%;
    }
    .fa-user {
        position: relative;
        color: #FFFFFF;
        top: 35%;
        z-index: 1;
    }
    /*-------------------------------------//
    //------------ SIDE BAR ---------------//
    //-------------------------------------*/
    .clickBar {
        position: fixed;
        z-index: 1;
        height: 110vh;
        width: 8vw;
        margin: 0;
    }
    .clickBar:active {
        background-color: #0FB600;
        color: #000000;
        transition: all 1s ease-in-out;
    }
    .clickBarCheckbox {
        width: 0;
        height: 0;
    }
    /*--------------------------------------//
    //--------- Button not clicked ---------//
    //--------------------------------------*/
    .hidden {
        position: absolute;
        left: -500px;
    }
    .left {
        border-right: 2px solid #0FB600;
        left: 0;
    }
    .fa-angles-right {
        margin-right: 10vw;
        position: fixed;
        top: 50%;
    }
    .visible {
        position: absolute;
        left: 0;
    }
    .right {
        border-left: 2px solid #0FB600;
        transform: translateX(91vw);
        transition: translateX(91vw) 1s ease-out;
    }
    .fa-angles-left {
        margin-right: 10vw;
        position: fixed;
        top: 50%;
        transition: rotate(180deg) 0.5s ease-out;
    }
}
/*------------------------------------------------ DESKTOP ------------------------------------------------*/
@media screen and (min-width: 526px) {
    .mobileOnly{
        display: none;
    }
    /*------------------------------------------------//
    //-------------  LANDING PAGE GRID  --------------//
    //------------------------------------------------*/
    section {
        display: grid;
        grid-template-areas: 
            ". head ."
            "deco deco deco"
            "side1 main ."
            "side2 main ."
            "data data data"
            "foot foot foot";
    }
    .desktopOnly, h1, .decoTitle {
        text-transform: uppercase;
    }
    .welcomeTextDiv{
        grid-area: head;
    }
    .welcomeTextDiv>h1{ /*center*/
        position: relative;
        border: 2px #0FB600 dashed;
        border-radius: 10px;
        margin-top: 0 2vh 0 2vh;
        width: 20vw;
        padding: 0.5vw;
    }
    .titleLine { /*decorative underline*/
        grid-area: deco;
        border-top: 8px solid gray;
        width: 100vw;
        margin: 1.75vh 0 1.75vh 0;
    }
    .decoTitle { /*à centrer*/
        position: absolute;
        grid-area: deco;
        font-size: 90px; /* fontsize 32*/
        z-index: 10;
        top: 5%;
        margin: 0 auto;
    }
    /*-------------  landing page guides  --------------*/
    .guidesContainer {
        grid-area: main;
        display: flex;
        flex-flow: row wrap;
    }
    .guideLanding {
        border: 1px dashed #0FB600;
        border-radius: 5px;
        text-align: center;
        padding: 3%;
        width: 30vw;
        margin: 1vh 2vw;
    }
    /*-------------  side nav buttons  --------------*/
    .buttonsAside{
        grid-area: side1;
    }
    .buttonsAside>ul{
        list-style: none;
    }
    .buttonsAside>ul>li{
        margin-bottom: 2vh;
        width: 15vw;
    }
    .buttonsAside>ul>li>a{
        color: #0FB600;
        max-width: 10vw;
        text-decoration-line: none;
        font-size: 30px;
        border: 2px dashed #0FB600;
        border-radius: 5px;
        padding: 0.5vh 1.5vw;
    }
    .buttonsAside>ul>li:nth-child(3){
        position: absolute;
        text-align: center;
        border: 2px dashed #0FB600;
        border-radius: 5px;
        max-width: 15vw;
    }
    .network{
        grid-area: side2;
        border: 0;
    }
    #copyright{
        grid-area: foot;
        text-align: center;
    }
}