/*------------------------------------------------ GENERAL ------------------------------------------------*/
/*todo: switch all px to vmin or vmax including borders and font-sizes*/
/*todo: text-transform uppercase all h2*/
/*todo: check back mobile configs*/
/*todo: refactor all code : generalize what can be (ex: form can be generalized then add margin and padding for mobile or desktop*/
body {
    background-color: #000000;
    color: #0FB600;
    font-family: Fira Code, monospace;
    letter-spacing: 1px;
    margin: 0;
}
.yellow {
    color: #DCEE07;
}
.red {
    color: #B60B00;
}
.white {
    color: #FFFFFF;
}
h1 {
    letter-spacing: 2px;
}
.hidden {
    display: none;
}
/*------------------------------------------------ MOBILE ------------------------------------------------*/
@media screen and (max-width: 525px) {
    /*------------------------------------------------*/
    /*------------------ DARK THEME ------------------*/
    /*------------------ LANDING PAGE ----------------*/
    /*------------------------------------------------*/
    .desktopOnly{
        display: none;
    }
    .landingPage {
        width: 90vw;
    }
    .guideLanding, .welcomeTextDiv, .h2Slide, .formSign {
        position: relative;
        border: 1px dashed #0FB600;
        border-radius: 5px;
        text-align: center;
        padding: 1%;
        margin: 5%;
        margin-left: 22vw;
    }
    ul {
        list-style: none;
        padding-left: 1%;
    }
    .network {
        width: 90vw;
        margin-left: 12vw;
        padding-left: 8vw;
    }
    #copyright {
        margin: 0 auto auto 43vw;
    }
    /*------------------------------------------------*/
    /*---------------  ASIDE ELEMENTS  ---------------*/
    /*------------------------------------------------*/
    .navslideContent { /*animation slide content à déclencher au click (classtoggle) AVEC le slider*/
        height: 100vh;
        width: 90vw;
    }
    .formContainer {
        margin-right: 15vw;
        padding-top: 25%;
        padding-bottom: 25%;
    }
    .separator {
        display: inline-block;
        font-size: 2em;
        margin: 2% 5% 2% 33vw;
    }
    #submitSignUp, #submitSignIn { 
        border: 1px solid #0FB600;
        border-radius: 5px;
        background-color: #000000;
        color: #0FB600;
        font-weight: 600;
        padding: 2% 5% 2% 5%;
        margin: 2% 5% 2% 21vw;
    }
    #submitSignUp:active, #submitSignIn:active {
        background-color: #0FB600;
        color: #000000;
    }
    #emailSignUp, #passwordSignUp, #emailSignIn, #passwordSignIn, #passwordCheck { /*todo: colorer les placeholders*/
        color: #ffffff;
        border: 1px dashed #0FB600;
        border-radius: 5px;
        background-color: #7c7c7c;
        margin: 1vh;
        width: 15vmin;
    }
    .avatarSignContainer { /*todo: relocate containers (center) */
        border: 1px solid #0FB600;
        height: 6vmax;
        width: 6vmax;
        border-radius: 100%;
    }
    .avatarSign {
        object-position: 50% 50%;
        object-fit: fill;
        height: 6vmax;
        width: 6vmax;
    }
    /*-------------------------------------*/
    /*-------- CLICKABLE SIDE BAR ---------*/
    /*-------------------------------------*/
    .clickBar {
        position: fixed;
        z-index: 1;
        height: 110vh;
        width: 8vw;
        margin: 0;
    }
    .clickBar:active {
        background-color: #0FB600;
        color: #000000;
        transition: all 1s ease-in-out;
    }
    .clickBarCheckbox {
        width: 0;
        height: 0;
    }
    /*--------------------------------------*/
    /*--------- Button not clicked ---------*/
    /*--------------------------------------*/
    .hiddenLeft {
        position: absolute;
        left: -500px;
    }
    .left {
        border-right: 2px solid #0FB600;
        left: 0;
        transition: ease-in-out 1s; /*! check it */
    }
    .fa-angles-right {
        margin-right: 10vw;
        position: fixed;
        top: 50%;
    }
    .visible {
        position: absolute;
        left: 0;
    }
    .right {
        border-left: 2px solid #0FB600;
        transform: translateX(91vw);
        transition: translateX(91vw) 1s ease-out;
    }
    .fa-angles-left {
        margin-right: 10vw;
        position: fixed;
        top: 50%;
        transition: rotate(180deg) 0.5s ease-out;
    }
    /*------------------------------------------------*/
    /*------------------ DARK THEME ------------------*/
    /*------------------ LANDING PAGE ----------------*/
    /*------------------------------------------------*/


    /*-------------------------------------*/
    /*-------- CLICKABLE SIDE BAR ---------*/
    /*-------------------------------------*/
}
/*------------------------------------------------ DESKTOP ------------------------------------------------*/
@media screen and (min-width: 526px) {
    .mobileOnly{
        display: none;
    }
    /*------------------------------------------------*/
    /*-------------  LANDING PAGE GRID  --------------*/
    /*------------------------------------------------*/
    section {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas: 
            "head head head head"
            "deco deco deco deco"
            "side main main main"
            "side main main main"
            "data data data data"
            "foot foot foot foot";
        align-items: center;
        justify-items: center;
    }
    .decoTitle{
        font-family: VT323;
    }
    .desktopOnly, h1, .decoTitle {
        text-transform: uppercase;
    }
    .welcomeTextDiv{
        grid-area: head;
        text-align: center;
    }
    .welcomeTextDiv>h1{ 
        border: 2px #0FB600 dashed;
        border-radius: 10px;
        margin-top: 0 2vh 0 2vh;
        padding: 0.5vmax;
    }
    .titleLine { /*decorative underline*/
        grid-area: deco;
        border-top: 10px solid gray;
        width: 100vw;
        margin: 1.75vh 0 1.75vh 0;
        padding: 0;
    }
    .decoTitle {
        grid-area: deco;
        font-size: 5vmax; /* fontsize 32*/
        z-index: 10;
        top: 5%;
        margin: 0 auto;
    }
    /*-------------  landing page guides  --------------*/
    .guidesContainer {
        grid-area: main;
        justify-self: left;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 65vw;
    }
    .guideLanding {
        border: 1px dashed #0FB600;
        border-radius: 5px;
        text-align: center;
        padding: 3%;
        width: 30vw;
        margin: 1vh 2vw;
        font-size: 1vmax;
        flex-basis: 20vw;
    }
    .guideLanding ul {
        list-style: none;
    }
    /*-------------  side nav buttons  --------------*/
    .buttonsAside{
        grid-area: side;
        align-self:normal;
    }
    .buttonsAside>ul{
        list-style: none;
        width: 15vw;
    }
    .buttonsAside>ul>li{
        margin-bottom: 2.5vh;
    }
    .buttonsAside>ul>li>a, .buttonsAside>ul>li:nth-child(3){
        color: #0FB600;
        display: block;
        text-decoration-line: none;
        text-align: center;
        font-size: 1vmax;
        border: 2px dashed #0FB600;
        border-radius: 10px;
        padding: 0.5vh 1.5vw;
        width: 10vw;
    }
    .buttonsAside>ul>li:nth-child(3)>div a img{
        max-width: 2vmax;
        padding: 0.5vmin;
    }
    /*-------------  counters && footers --------------*/
    .desktopFooter {
        grid-area: data;
    }

    footer>.countersDiv {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .counter h3,.counter p {
        font-size: 1vmax;
        border: 2px dashed #0FB600;
        text-align: center;
        border-radius: 10px;
        padding: 1vmin;
    }
    .counter:nth-child(2), .counter:last-child {
        margin-left: 5vmax;
    }
    #copyright{
        grid-area: foot;
        text-align: center;
    }
    /*-------------  SignUp && SignIn popups --------------*/
    .hideSignUp, .hideSignIn { /*hidden classes for the signin and signup elements*/
        display: none;
    }
    .deactivated { /*deactivated class for the mobile navslide*/
        display: none;
    }
    .popupBackground {  /*!opacity affects the whole page, why ? => affects the div and its content, gotta separate the popup (done)*/
        background-position: top;
        z-index: 100;
        opacity: 0.3;
        background-color: #7c7c7c;
        transition: ease-in-out 1s;
    }
    .noPopup {
        background-color: #000000;
    }
    .showSignUp, .showSignIn {
        position: fixed;
        z-index: 150;
        width: 20vmax;
        top: 33vh;
        left: 40vw;
        background-color: #000000;
        border: 2px dashed #0FB600;
        border-radius: 15px;
        transition: ease-in-out 1s;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .showSignIn h2, .showSignUp h2 {
        border: 2px dashed #0FB600;
        width: 10vmax;
        border-radius: 10px;
        text-align: center;
        padding: 0.5vh;
        font-size: 1.25vmax;
        margin-bottom: 0.5vmax;
        text-transform: uppercase;
    }
    .formSign {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-decoration-line: none;
        text-align: center;
        padding: 0.5vmax 1.5vmax;
        width: 20vmax;
    }
    .formSign input {
        flex-basis: 2vmin;
    }
    .avatarSignContainer {
        border: 1px solid #0FB600;
        height: 3vmax;
        width: 3vmax;
        border-radius: 100%;
    }
    .avatarSign {
        object-position: 50% 50%;
        object-fit: fill;
        height: 3vmax;
        width: 3vmax;
    }
    #emailSignUp, #passwordSignUp, #emailSignIn, #passwordSignIn, #passwordCheck {
        border: 1px solid #0FB600;
        border-radius: 5px;
        background-color: #7c7c7c;
        color: #ffffff;
        margin: 0.5vmax;
        width: 15vmin;
    }
    #emailSignUp::placeholder, #passwordSignUp::placeholder, #emailSignIn::placeholder, #passwordSignIn::placeholder, #passwordCheck::placeholder{
        color: #FFFFFF;
        font-size: 1.25vmin;
    }
    #submitSignUp, #submitSignIn {
        border: 0.25vmin solid #0FB600;
        border-radius: 10px;
        background-color: #000000;
        color: #0FB600;
        font-weight: 600;
        padding: 2% 5% 2% 5%;
    }
}